<h1>Your Blogs</h1>

<div class="blog-form">
  <h2>Create a New Blog Post</h2>
  <form class="new-blog-form">
    <div>
      <label for="blog-name">Blog Name:</label>
      <input type="text" id="blog-name" name="name" required>
    </div>
    <div>
      <label for="blog-desc">Description:</label>
      <textarea class="form-input large-textarea" id="blog-desc" name="blog-desc" style="width: 300%; height: 500px;" required></textarea>
    </div>
    <button type="submit">Create Blog</button>
  </form>
</div>

  {{!-- this is the code form the mini project

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>
    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}


<div class="user-blogs">
  <h2>Your Blogs</h2>
  <div class="blog-list">
    {{#each blogs}}
    <div class="blog-post mb-4" data-id="{{this.id}}">
      <div class="post-header">
        <p class="post-meta">Created by {{this.user.name}} on {{format_date this.createdAt}}</p>
      </div>
      <div class="post-content">
        <p>{{this.description}}</p>
        <p>Views: <span class="views-count">{{this.views}}</span></p>
        <p>Likes: <span class="likes-count">{{this.likes}}</span></p>
        <button class="like-blog-btn" data-id="{{this.id}}">Like</button>
      </div>
      <button class="delete-blog-btn" data-id="{{this.id}}">Delete Blog</button>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/profile.js" defer></script>
